# Credentials
keys.txt

# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.env/
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.swp
*.swo
